#Main {
  padding-top: 50px;
  background-color: $tan;
  width: 100%;
  height: auto;
  padding-bottom: 20px;
  .container {
    margin: 0 auto;

    width: 866px;
    padding: 0;

    .main-header {
      h2 {
        font-size: 38px;
        text-align: center;
        color: $deepred;
        margin-bottom: 30px;
      }
      p {
        font-size: 21px;
        line-height: 1.4;
      }
    }
    .categories {
      margin-top: 50px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
      .category-box:nth-child(odd) {
        justify-self: start;
      }
      .category-box:nth-child(even) {
        justify-self: end;
      }
      .category-box {
        float: left;
        width: 400px;
        height: 400px;
        // margin-right: 90px;
        // margin-bottom: 35px;
        text-align: center;
        .pic-link {
          width: 100%;
          height: 75%;
          background: no-repeat top center;
          -webkit-background-size: contain;
          -moz-background-size: contain;
          -o-background-size: contain;
          background-size: contain;
          margin-bottom: 20px;
        }
        span {
          a {
            color: $deepred;
            text-decoration: none;
            text-transform: uppercase;
            margin-top: 20px;
            font-size: 1.5em;
          }
        }
      }
    }
  }
  .social-media {
    text-align: center;
    span {
      font-size: 26px;
      color: $burntred;
      margin-right: 15px;
    }
    a {
      .fab {
        color: $deepred;
        transition: 0.3s ease-in-out;
        &:hover {
          color: $peach;
        }
      }
    }
  }
}

