#Slider {
  width: 100%;
  #carousel {
    max-height: 714px;
    .carousel-indicators {
      .active {
        background-color: $deepred;
      }
      li {
        &:hover {
          background-color: $deepred;
        }
      }
    }
    .carousel-inner {
      max-height: 714px;

      overflow: hidden;
      .carousel-item {
      }
    }
  }
}

