#Sub-Footer {
  background-color: $burntred;
  color: $tan;
  padding: 50px 0 100px;
  .footer-container {
    display: flex;
    flex-direction: row;
    .footer-info {
      float: left;
      margin-right: 60px;
      width: 350px;
      height: auto;
      text-align: center;
      font-size: 24px;
      line-height: 1.5;
      h2 {
        font-size: 30px;
      }
      a {
        color: $tan;
      }
      .social-links {
        a {
          margin-right: 10px;
          transition: 0.3s ease-in-out;
          &:hover {
            color: $peach;
          }
        }
      }
    }
    .badges {
      display: flex;
      a {
        margin-right: 30px;
        img {
          width: 150px;
          height: auto;
        }
      }
    }
  }
}

@media #{$breakpoint-small} {
  
}
