$deepred: #8c3730;
$burntred: #733a2d;
$red: #bf4226;
$peach: #f2b279;
$tan: #f2d8a7;

$breakpoint-small: "only screen and (max-width: 40em)";
// $breakpoint-small: "only screen and (min-width: 451px)";
$breakpoint-rotate: "only screen and (min-width: 642px) and (max-width: 767px) ";
$breakpoint-medium: "only screen and (min-width: 40.063em) and (max-width: 64em)";
$breakpoint-large: "only screen and (min-width: 1008px)";
$breakpoint-xl: "only screen and (min-width: 1300px)";
